/* General styling for the app */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;

}

/* Container for the QCM app */
#qcm-container {
    font-size: 16px;
    background-color: #009485; /* Grey box */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    
}

/* Question styling: cyan box */
#question {
    font-size: 16px;

    background-color: rgb(248, 248, 184);
    color: #333;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Options list styling */
#options {
    list-style: none;
    padding: 0;
}

#options li {
    background-color: #02b6a4; /* Grey box */
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Change background color to green on hover */
#options li:hover {
    background-color: #004740; /* Light green color */
    color: white;
}

/* Wrong answer styling */
#options li.wrong {
    background-color: red;
    color: white;
}

/* Correct answer styling */
#options li.correct {
    background-color: green;
    color: white;
}

/* Feedback styling */
#feedback {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

#feedback.correct {
    color: green;
}

#feedback.wrong {
    color: red;
}

/* Explanation box styling */
#explanation {
    display: none; /* Hidden by default */
    background-color: rgb(213, 250, 192);
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* Next button styling */
#next-button {
    display: none; /* Hidden by default */
    background-color: rgb(34, 146, 238);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#next-button:hover {
    background-color: darkblue;
}
