

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}


  :root {
    --md-admonition-icon--buy: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg>')
  }
  .md-typeset .admonition.buy,
  .md-typeset details.buy {
    border-color: rgb(0, 255, 0);
  }
  .md-typeset .buy > .admonition-title,
  .md-typeset .buy > summary {
    background-color: rgb(0, 255, 0, 0.15);
  }
  .md-typeset .buy > .admonition-title::before,
  .md-typeset .buy > summary::before {
    background-color: rgb(0, 255, 0);
    -webkit-mask-image: var(--md-admonition-icon--buy);
            mask-image: var(--md-admonition-icon--buy);
  }


  
  :root {
    --md-admonition-icon--strongbuy: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M246.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 109.3l137.4 137.3c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160zm160 352-160-160c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 301.3l137.4 137.3c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3z"/></svg>')
  }
  .md-typeset .admonition.strongbuy,
  .md-typeset details.strongbuy {
    border-color: rgb(0, 128, 0);
  }
  .md-typeset .strongbuy > .admonition-title,
  .md-typeset .strongbuy > summary {
    background-color: rgb(0, 128, 0, 0.15);
  }
  .md-typeset .strongbuy > .admonition-title::before,
  .md-typeset .strongbuy > summary::before {
    background-color: rgb(0, 128, 0);
    -webkit-mask-image: var(--md-admonition-icon--strongbuy);
            mask-image: var(--md-admonition-icon--strongbuy);
  }


  :root {
    --md-admonition-icon--unknow: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>')
  }
  .md-typeset .admonition.unknow,
  .md-typeset details.unknow {
    
    border-color: rgb(158, 158, 158);
  }
  .md-typeset .unknow > .admonition-title,
  .md-typeset .unknow > summary {
    background-color: rgb(245, 245, 245);
  }
  .md-typeset .unknow > .admonition-title::before,
  .md-typeset .unknow > summary::before {
    background-color: rgb(158, 158, 158);
    -webkit-mask-image: var(--md-admonition-icon--unknow);
            mask-image: var(--md-admonition-icon--unknow);
  }


  :root {
    --md-admonition-icon--hold: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>')
  }
  .md-typeset .admonition.hold,
  .md-typeset details.hold {
    border-color: rgb(255, 255, 0);
  }
  .md-typeset .hold > .admonition-title,
  .md-typeset .hold > summary {
    background-color: rgb(255, 255, 0, 0.15);
  }
  .md-typeset .hold > .admonition-title::before,
  .md-typeset .hold > summary::before {
    background-color: rgb(0, 0, 0);
    -webkit-mask-image: var(--md-admonition-icon--hold);
            mask-image: var(--md-admonition-icon--hold);
  }

  :root {
    --md-admonition-icon--sell: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>')
  }
  .md-typeset .admonition.sell,
  .md-typeset details.sell {
    border-color: rgb(255, 165, 0);
  }
  .md-typeset .sell > .admonition-title,
  .md-typeset .sell > summary {
    background-color: rgb(255, 165, 0, 0.15);
  }
  .md-typeset .sell > .admonition-title::before,
  .md-typeset .sell > summary::before {
    background-color: rgb(255, 165, 0);
    -webkit-mask-image: var(--md-admonition-icon--sell);
            mask-image: var(--md-admonition-icon--sell);
  }


  :root {
    --md-admonition-icon--strongsell: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>')
  }
  .md-typeset .admonition.strongsell,
  .md-typeset details.strongsell {
    border-color: rgb(255, 0, 0);
  }
  .md-typeset .strongsell > .admonition-title,
  .md-typeset .strongsell > summary {
    background-color: rgb(255, 0, 0, 0.15);
  }
  .md-typeset .strongsell > .admonition-title::before,
  .md-typeset .strongsell > summary::before {
    background-color: rgb(255, 0, 0);
    -webkit-mask-image: var(--md-admonition-icon--strongsell);
            mask-image: var(--md-admonition-icon--strongsell);
  }


/*
  Strong Buy: Green (RGB: 0, 128, 0)
  Buy: Light Green (RGB: 0, 255, 0)
  Hold: Yellow (RGB: 255, 255, 0)
  Sell: Orange (RGB: 255, 165, 0)
  Strong Sell: Red (RGB: 255, 0, 0)
  Underperform: Salmon (RGB: 250, 128, 114)
  Outperform: Lime Green (RGB: 50, 205, 50)
  Market Perform: Gold (RGB: 255, 215, 0)
*/

